<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Website SBMPTN</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js}"></script>
        <link th:href="@{http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css}" rel="stylesheet"/> 	
        <script th:src="@{http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js}"></script> 
       
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		
    	 <!--<link rel="stylesheet" th:href="@{/main.css}"/>-->   
    </head>
    <body>
    <div id="header">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/">SBMPTN</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="/">Home</a></li>
			      <li><a href="/univ">Universitas</a></li>
			    </ul>
			  </div>
			</nav>
		</div>
		
    	<div class="container">
	    	
	     	<h1>Detail Peserta <span th:text="${peserta.nomor}"></span></h1>
	     	
			<table class="table table-striped table-bordered">
	    	<tr>
	    		<td>Nomor</td>
	    		<td ><span th:text="${peserta.nomor}"></span></td>
	    	</tr>
	    	<tr>
	    		<td>Nama</td>
	    		<td><span th:text="${peserta.nama}"></span></td>
	    	</tr>
	    	
	    	<tr>
	    		<td>Tanggal lahir</td>
	    		
	    		<td><span th:text="${#dates.format(peserta.tgl_lahir, 'dd-MM-yyyy')}"></span></td>
	    	</tr>
	    	
	    	<tr>
	    		<td>Umur</td>
	    		<td><span th:text="${umur}"></span></td>
	    	</tr>
        </table>
	
        </div>
        <div id="footer"></div>
    </body>
</html>
